[submodule "verific_rs"]
	path = verific_rs
	url = git@github.com:RapidSilicon/verific_rs.git
[submodule "Device_Modeling/external/googletest"]
	path = Device_Modeling/external/googletest
	url = git@github.com:google/googletest.git
[submodule "Device_Modeling/external/spdlog"]
	path = Device_Modeling/external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Device_Modeling/external/exprtk"]
	path = Device_Modeling/external/exprtk
	url = git@github.com:ArashPartow/exprtk.git
[submodule "graph_parttion/mt-kahypar"]
	path = graph_partition/mt-kahypar
	url = https://github.com/kahypar/mt-kahypar.git
[submodule "surelog_sv_plugin/Surelog"]
	path = surelog_sv_plugin/Surelog
	url = https://github.com/chipsalliance/Surelog.git
[submodule "surelog_sv_plugin/yosys-f4pga-plugins"]
	path = surelog_sv_plugin/yosys-f4pga-plugins
	url = https://github.com/chipsalliance/yosys-f4pga-plugins.git
[submodule "surelog_sv_plugin/ghdl-yosys-plugin"]
	path = surelog_sv_plugin/ghdl-yosys-plugin
	url = https://github.com/ghdl/ghdl-yosys-plugin.git
