[submodule "Device_Modeling/external/googletest"]
	path = Device_Modeling/external/googletest
	url = https://github.com/google/googletest.git
[submodule "Device_Modeling/external/spdlog"]
	path = Device_Modeling/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Device_Modeling/external/exprtk"]
	path = Device_Modeling/external/exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "graph_parttion/mt-kahypar"]
	path = graph_partition/mt-kahypar
	url = https://github.com/kahypar/mt-kahypar.git
[submodule "parser_plugins/ghdl-yosys-plugin"]
	path = parser_plugins/ghdl-yosys-plugin
	url = https://github.com/ghdl/ghdl-yosys-plugin.git
[submodule "OpenLM/licensecc"]
	path = OpenLM/licensecc
	url = https://github.com/open-license-manager/licensecc.git
[submodule "netlist_bitblast/lib/pnr/genesis3/mockup/FPGA_PRIMITIVES_MODELS"]
	path = netlist_bitblast/lib/pnr/genesis3/mockup/FPGA_PRIMITIVES_MODELS
	url = https://github.com/os-fpga/FPGA_PRIMITIVES_MODELS.git
